parameters:
    freecurrencyapi.base_url: '%env(FREECURRENCYAPI_BASE_URL)%'
    freecurrencyapi.api_key: '%env(FREECURRENCYAPI_KEY)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    App\Service\FreeCurrencyApi\FreeCurrencyApiClient:
        arguments:
            $baseUrl: '%freecurrencyapi.base_url%'
            $apiKey: '%freecurrencyapi.api_key%'
